.container
  <a href="http://twitch.tv/pandorzilla"><img class="twitch" src="http://streambadge.com/twitch/dark/pandorzilla.png" alt="pandorzilla's Streambadge"></a>
  %section.show-article.clearfix
    %img{src: "http://lorempixel.com/600/150"}
    .content.clearfix
      %h3 Tagline something clever stuff
      %h2 Title
      %p
        =link_to "Author", "#"
        %span December, 11th 2010 - 10:00 AM PST
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod, erat et auctor volutpat,
        elit nisi facilisis velit, vel vulputate lacus nisi
        dLorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod, erat et auctor
        volutpat, elit nisi facilisis velit, vel vulputate lacus nisi
        sed mi. Aenean finibus non nisi id auctor. Maecenas diam elit, faucibus sed ullamcorper non, porttitor sit amet urna.
