@import "variables.scss";

.footer {
  background-color: $dark-background;
  color: $text-color;
  text-align: center;
  padding: 20px;
  .social-footer li a {
    margin-right: 10px;
  }
  ul {
    text-decoration: none;

    li {
      display: inline;
    }
  }
}

.footer ul li a {
  color: white;
  font-size: 2em;
  &:hover {
    text-decoration: none;
    font-weight: bold;
  }
}
