$margin-center: 30px;

.social-nav {
  font-size: 1.25em;
  margin-top: $margin-center;
}

.link-nav {
  margin-top: $margin-center;

}

.logo-text {
  margin-top: $margin-center;
}

.navbar {
  height: 120px;
}

.logo {
  padding: 10px;
}

.search {
  margin-top: $margin-center;
}

@media screen and (max-width: 1050px){
  .navbar-text {
    color: #222 !important;
  }
}
@media screen and (max-width: 950px) {
  .search {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .social-nav {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .navbar-collapse {
    background-color: black;
  }
  .link-nav {
    text-align: center;
    font-size: 2em;
  }
  .drop-list li a {
    text-align: center;
  }
}
