@import url(http://fonts.googleapis.com/css?family=Lora);
@import "variables.scss";
.article {
  margin: 20px 0;
  box-shadow: 5px 5px 5px #000;
  border-radius: 5% 0 0 5%;
  background-color: $dark-background;
  img {
    float: left;
    margin-right: 10px;
    border-radius: 5% 0 0 5%;
  }
  .content {
    border-radius: 5% 0 0 5%;
    p {
      margin-right: 10px;
      color: $text-color;
      font-family: 'Lora', serif;
    }
    span {
      color: $highlight;
    }
  }
  h2 {
    a {
      color: $title-color;
      &:hover {
        text-decoration: none;
      }
    }
  }
  h3 {
    color: $highlight;
  }
}

@media screen and (max-width: 768px) {
  .article {
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px;
    img {
      border-radius: 5px;
    }
    .content{
      border: none;
    }
  }
}

@media screen and (max-width: 640px) {
  .article {
    img {
      display: none;
    }
  }
}
