@import "variables.scss";
.show-article {
  margin: 20px 0;
  box-shadow: 5px 5px 5px #000;
  background-color: $dark-background;
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .content {
    padding: 20px;
    p {
      margin-right: 10px;
      color: $text-color;
      font-family: 'Lora', serif;
    }
    span {
      color: $highlight;
    }
  }
  h2 {
    color: $title-color;
  }
  h3 {
    color: $highlight;
  }
}

.social-share {
  font-size: 1.5em;
  a {
    margin: 5px;
  }
}
