@import "variables.scss";
.show-article {
  margin: 20px 0;
  box-shadow: 5px 5px 5px #000;
  background-color: $dark-background;
  border-radius: 5px;
  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }
  .content {
    padding: 10px;
    p {
      margin-right: 10px;
      color: #ccc;
      font-family: 'Lora', serif;
    }
    span {
      color: #5c5c5c;
    }
  }
  h2 {
    color: #DF691A;
  }
  h3 {
    color: #5c5c5c;
  }
}
